
$bc_dark_green:#078b5c;
$bc_light_green:#00a767;

.green-theme {

  button {
    border-color: $bc_dark_green;
    background-color: $bc_dark_green;
    &:hover, &:active {
      background-color: $bc_light_green;
    }
    &.btn-primary {
      &:active, &:visited, &:focus {
        background-color: $bc_light_green !important;
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem #28a74547;
        border-color: $bc_dark_green;
      }
    }
  }
  .navbar {
    background-color: black !important;
  }
  
}

